.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: ;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#dj-classifieds .dj-item .title_top,
#dj-classifieds .dj-category .cat_row_title,
#dj-classifieds h1.main_cat_title,
#dj-classifieds .dj-cattree-box .title_top,
#dj-classifieds .title_top h1,
#dj-classifieds .dj-additem .title_top,
#dj-classifieds table.paymentdetails td.td_title h2,
#dj-classifieds .profile_outer .profile_name_data .profile_name {
  margin-bottom: 30px;
}
#dj-classifieds .dj-category .cat_row {
  margin: 0 0 0 -30px;
}
#dj-classifieds .dj-category .cat_col .cat_col_in {
  padding: 30px 0 0 30px;
}
#dj-classifieds .main_cat_desc {
  margin: 30px 0;
}
#dj-classifieds table.dj-items {
  border-spacing: 0 30px;
}
#dj-classifieds .dj-useradverts .main_title {
  margin-bottom: 30px;
}
#dj-classifieds .blog_sorting_box {
  margin: 0 0 30px;
}
#dj-classifieds .dj-items-blog {
  margin: 30px 0 0;
}
#dj-classifieds .djcf_items_blog {
  margin-left: -30px;
}
#dj-classifieds .djcf_items_blog .item_box_in {
  margin: 0 0 30px 30px;
}
#dj-classifieds .dj-useradverts .row_ua {
  margin-bottom: 30px;
}
#dj-classifieds .dj-additem .additem_djform {
  margin-bottom: 30px;
}
#dj-classifieds .dj-item .description,
#dj-classifieds .dj-item .video_box {
  margin-top: 30px;
}
#dj-classifieds .dj-item .description h2 {
  margin: 0 0 30px;
}
#dj-classifieds .dj-item #jm-custom-loc-wrapper {
  margin-top: 30px;
}
#dj-classifieds .dj-item #jm-custom-loc-wrapper .custom_det + .jm-box-margin {
  width: 30px;
}
#dj-classifieds .dj-item #jm-add-com-wrapper {
  margin-top: 30px;
}
#dj-classifieds.jm-class-details.jm-class-comments .dj-item #jm-add-com-wrapper .jm-box-margin {
  width: 30px;
}
#dj-classifieds .dj-item .sb_bottom {
  padding: 30px 0 0;
}
#dj-classifieds .profile_outer .profile_img img {
  margin: 0 0 30px;
}
#dj-classifieds table.paymentdetails.first {
  margin-bottom: 30px;
}
#dj-classifieds .dj-item-in .djcf_tabs {
  margin: 30px 0 0;
}
.mod_djclassifieds_items .item {
  margin: 30px 0 0;
}
.mod_djclassifieds_items .items-col .icol-in {
  padding: 0 0 0 30px;
}
.mod_djclassifieds_items .items {
  margin-left: -30px;
}
#dj-classifieds .see_details_box a {
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  display: block;
  padding: 9px 40px;
  line-height: 1.1em;
  text-decoration: none !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  max-width: 100%;
}
#dj-classifieds .see_details_box a:after {
  content: '';
  position: absolute;
  width: 13px;
  height: 10px;
  top: 50%;
  margin-top: -5px;
  right: -20px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
#dj-classifieds .see_details_box a:hover:after {
  right: 15px;
}
#jm-allpage .djcf_menu a.button {
  padding: 13px 15px;
}
#jm-allpage .dj-galleryGrid,
#jm-allpage .dj-categories,
#jm-allpage .dj-tabber,
#jm-allpage .slider-wrapper,
#jm-allpage .dj-slideshowThumbs {
  background: transparent;
}
.dj-galleryGrid,
.dj-categories,
.dj-tabber,
.slider-wrapper {
  margin: 0 !important;
}
.category-desc {
  margin: 10px 0 0;
}
.dj-cat-title {
  font-size: 20px;
  font-weight: 400;
  color: #080808;
  margin: 0 0 20px;
  text-transform: uppercase;
}
.dj-ctitle-in,
.dj-slide-title {
  font-size: 30px !important;
  text-transform: uppercase;
  font-weight: 700 !important;
  line-height: 1.1em !important;
  margin: 2px 0 !important;
  text-transform: uppercase;
}
.dj-slide-title,
.dj-slide-title a {
  color: #313740 !important;
}
.dj-slide-desc-bg {
  background: #ffffff !important;
  opacity: 0.7 !important;
  filter: alpha(opacity=70) !important;
}
.dj-slide-desc-text {
  font-size: 24px !important;
  padding: 30px !important;
  line-height: 1.2em !important;
  color: #313740 !important;
}
.dj-slide-desc-text a {
  color: #313740 !important;
}
.dj-slide-desc-text a:hover {
  text-decoration: underline;
}
#jm-allpage .dj-slideshow .dj-slideshow-in,
#jm-allpage .dj-slideshowThumbs .dj-slideshowThumbs-in,
#jm-allpage .dj-slideshowThumbs .dj-indicators,
#jm-allpage .dj-tabber,
#jm-allpage .nivoSlider,
#jm-allpage .box_skitter,
#jm-allpage .dj-tab {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
}
#jm-allpage .dj-extra {
  float: left !important;
  margin: 0 20px 0 0 !important;
}
#jm-allpage .dj-extra .date {
  font-size: 18px;
}
#jm-allpage .dj-extra .price {
  font-size: 65px;
  line-height: 1em;
  font-weight: 700;
}
#jm-allpage .dj-extra .category {
  font-size: 18px;
  line-height: 1.1em;
  color: #080808 !important;
}
#jm-allpage .dj-extra .category a {
  color: #080808 !important;
}
#djmediatools .dj-categories {
  display: inline-block;
}
#djmediatools .dj-categories .dj-ctitle-bg {
  background: #ffffff;
  opacity: 0.7 !important;
  filter: alpha(opacity=70) !important;
}
#djmediatools .dj-categories .dj-category-in {
  background: none;
  border: none;
}
#djmediatools .dj-categories a.dj-category,
#djmediatools .dj-categories a.dj-category:hover {
  background: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
}
#djmediatools .dj-categories .dj-ctitle-in {
  color: #313740 !important;
  padding: 20px !important;
  text-align: center;
}
#djmediatools .dj-categories .dj-ctitle-in:hover {
  text-decoration: underline;
}
.dj-galleryGrid .dj-slide {
  max-width: 100%;
}
.dj-galleryGrid .dj-slide-title,
.dj-galleryGrid .dj-slide-title a {
  font-size: 16px !important;
  font-weight: 400 !important;
}
.dj-galleryGrid .dj-slide-desc,
.dj-galleryGrid .dj-slide-desc-bg {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}
.dj-galleryGrid .dj-slide {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}
.dj-galleryGrid .dj-slide:hover {
  opacity: 0.8 !important;
  filter: alpha(opacity=80) !important;
}
.dj-galleryGrid .dj-slide-desc-text {
  font-size: 14px !important;
  padding: 20px !important;
  line-height: 1.5em !important;
}
.dj-galleryGrid .dj-slide-desc-text,
.dj-galleryGrid .dj-slide-desc-text a {
  color: #808080 !important;
}
#jm-allpage .dj-galleryGrid .dj-slide-desc-in {
  margin: 0 !important;
}
#jm-allpage .dj-galleryGrid .dj-extra {
  margin: 0 !important;
  width: 100%;
  float: none !important;
}
#jm-allpage .dj-galleryGrid .dj-extra .price {
  font-size: 38px;
  line-height: 1.1em;
  font-weight: 400;
}
#jm-allpage .dj-galleryGrid .dj-extra .date {
  font-size: 12px;
}
.slider1-ms .dj-galleryGrid .dj-slide-title,
.slider1-ms .dj-galleryGrid .dj-slide-title a {
  color: #313740 !important;
}
.arrow-left-ms .dj-galleryGrid .dj-slide .dj-slide-desc-in,
.arrow-right-ms .dj-galleryGrid .dj-slide .dj-slide-desc-in {
  position: relative;
}
.arrow-left-ms .dj-galleryGrid .dj-slide .dj-slide-desc-in:after,
.arrow-right-ms .dj-galleryGrid .dj-slide .dj-slide-desc-in:after {
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 16px 17px 16px 0;
  border-color: transparent #ffffff transparent transparent;
  left: -17px;
  top: 50%;
  margin-top: -16px;
  z-index: 9999;
}
.arrow-right-ms .dj-galleryGrid .dj-slide .dj-slide-desc-in:after {
  border-width: 16px 0 16px 17px;
  border-color: transparent transparent transparent #ffffff;
  left: auto;
  right: -17px;
}
.desc-pink1-ms .dj-galleryGrid .dj-slide .dj-slide-desc-bg {
  background: #e02e75 !important;
}
.arrow-left-ms.desc-pink1-ms .dj-galleryGrid .dj-slide .dj-slide-desc-in:after {
  border-color: transparent #e02e75 transparent transparent;
}
.arrow-right-ms.desc-pink1-ms .dj-galleryGrid .dj-slide .dj-slide-desc-in:after {
  border-color: transparent transparent transparent #e02e75;
}
.desc-pink2-ms .dj-galleryGrid .dj-slide:nth-child(even) .dj-slide-desc-bg {
  background: #e02e75 !important;
}
.arrow-left-ms.desc-pink2-ms .dj-galleryGrid .dj-slide:nth-child(even) .dj-slide-desc-in:after {
  border-color: transparent #e02e75 transparent transparent;
}
.arrow-right-ms.desc-pink2-ms .dj-galleryGrid .dj-slide:nth-child(even) .dj-slide-desc-in:after {
  border-color: transparent transparent transparent #e02e75;
}
.desc-pink3-ms .dj-galleryGrid .dj-slide:nth-child(3n+3) .dj-slide-desc-bg {
  background: #e02e75 !important;
}
.arrow-left-ms.desc-pink3-ms .dj-galleryGrid .dj-slide:nth-child(3n+3) .dj-slide-desc-in:after {
  border-color: transparent #e02e75 transparent transparent;
}
.arrow-right-ms.desc-pink3-ms .dj-galleryGrid .dj-slide:nth-child(3n+3) .dj-slide-desc-in:after {
  border-color: transparent transparent transparent #e02e75;
}
.desc-pink4-ms .dj-galleryGrid .dj-slide:nth-child(4n+4) .dj-slide-desc-bg {
  background: #e02e75 !important;
}
.arrow-left-ms.desc-pink4-ms .dj-galleryGrid .dj-slide:nth-child(4n+4) .dj-slide-desc-in:after {
  border-color: transparent #e02e75 transparent transparent;
}
.arrow-right-ms.desc-pink4-ms .dj-galleryGrid .dj-slide:nth-child(4n+4) .dj-slide-desc-in:after {
  border-color: transparent transparent transparent #e02e75;
}
.desc-pink1-ms .dj-galleryGrid .dj-slide .dj-slide-desc-text,
.desc-pink2-ms .dj-galleryGrid .dj-slide:nth-child(even) .dj-slide-desc-text,
.desc-pink3-ms .dj-galleryGrid .dj-slide:nth-child(3n+3) .dj-slide-desc-text,
.desc-pink4-ms .dj-galleryGrid .dj-slide:nth-child(4n+4) .dj-slide-desc-text {
  color: #8d0139 !important;
}
.desc-pink1-ms .dj-galleryGrid .dj-slide .dj-slide-desc-text a,
.desc-pink2-ms .dj-galleryGrid .dj-slide:nth-child(even) .dj-slide-desc-text a,
.desc-pink3-ms .dj-galleryGrid .dj-slide:nth-child(3n+3) .dj-slide-desc-text a,
.desc-pink4-ms .dj-galleryGrid .dj-slide:nth-child(4n+4) .dj-slide-desc-text a {
  color: #8d0139 !important;
}
.desc-pink1-ms .dj-galleryGrid .dj-slide .dj-slide-title,
.desc-pink2-ms .dj-galleryGrid .dj-slide:nth-child(even) .dj-slide-title,
.desc-pink3-ms .dj-galleryGrid .dj-slide:nth-child(3n+3) .dj-slide-title,
.desc-pink4-ms .dj-galleryGrid .dj-slide:nth-child(4n+4) .dj-slide-title {
  color: #ffffff !important;
}
.desc-pink1-ms .dj-galleryGrid .dj-slide .dj-slide-title a,
.desc-pink2-ms .dj-galleryGrid .dj-slide:nth-child(even) .dj-slide-title a,
.desc-pink3-ms .dj-galleryGrid .dj-slide:nth-child(3n+3) .dj-slide-title a,
.desc-pink4-ms .dj-galleryGrid .dj-slide:nth-child(4n+4) .dj-slide-title a {
  color: #ffffff !important;
}
#jm-allpage .desc-pink1-ms .dj-galleryGrid .dj-slide .dj-readmore-wrapper a,
#jm-allpage .desc-pink2-ms .dj-galleryGrid .dj-slide:nth-child(even) .dj-readmore-wrapper a,
#jm-allpage .desc-pink3-ms .dj-galleryGrid .dj-slide:nth-child(3n+3) .dj-readmore-wrapper a,
#jm-allpage .desc-pink4-ms .dj-galleryGrid .dj-slide:nth-child(4n+4) .dj-readmore-wrapper a {
  color: #ffffff !important;
}
#jm-allpage .desc-pink1-ms .dj-galleryGrid .dj-slide .dj-extra .price,
#jm-allpage .desc-pink2-ms .dj-galleryGrid .dj-slide:nth-child(even) .dj-extra .price,
#jm-allpage .desc-pink3-ms .dj-galleryGrid .dj-slide:nth-child(3n+3) .dj-extra .price,
#jm-allpage .desc-pink4-ms .dj-galleryGrid .dj-slide:nth-child(4n+4) .dj-extra .price {
  color: #ffffff !important;
}
.desc-blue1-ms .dj-galleryGrid .dj-slide .dj-slide-desc-bg {
  background: #017eba !important;
}
.arrow-left-ms.desc-blue1-ms .dj-galleryGrid .dj-slide .dj-slide-desc-in:after {
  border-color: transparent #017eba transparent transparent;
}
.arrow-right-ms.desc-blue1-ms .dj-galleryGrid .dj-slide .dj-slide-desc-in:after {
  border-color: transparent transparent transparent #017eba;
}
.desc-blue2-ms .dj-galleryGrid .dj-slide:nth-child(even) .dj-slide-desc-bg {
  background: #017eba !important;
}
.arrow-left-ms.desc-blue2-ms .dj-galleryGrid .dj-slide:nth-child(even) .dj-slide-desc-in:after {
  border-color: transparent #017eba transparent transparent;
}
.arrow-right-ms.desc-blue2-ms .dj-galleryGrid .dj-slide:nth-child(even) .dj-slide-desc-in:after {
  border-color: transparent transparent transparent #017eba;
}
.desc-blue3-ms .dj-galleryGrid .dj-slide:nth-child(3n+3) .dj-slide-desc-bg {
  background: #017eba !important;
}
.arrow-left-ms.desc-blue3-ms .dj-galleryGrid .dj-slide:nth-child(3n+3) .dj-slide-desc-in:after {
  border-color: transparent #017eba transparent transparent;
}
.arrow-right-ms.desc-blue3-ms .dj-galleryGrid .dj-slide:nth-child(3n+3) .dj-slide-desc-in:after {
  border-color: transparent transparent transparent #017eba;
}
.desc-blue4-ms .dj-galleryGrid .dj-slide:nth-child(4n+4) .dj-slide-desc-bg {
  background: #017eba !important;
}
.arrow-left-ms.desc-blue4-ms .dj-galleryGrid .dj-slide:nth-child(4n+4) .dj-slide-desc-in:after {
  border-color: transparent #017eba transparent transparent;
}
.arrow-right-ms.desc-blue4-ms .dj-galleryGrid .dj-slide:nth-child(4n+4) .dj-slide-desc-in:after {
  border-color: transparent transparent transparent #017eba;
}
.desc-blue1-ms .dj-galleryGrid .dj-slide .dj-slide-desc-text,
.desc-blue2-ms .dj-galleryGrid .dj-slide:nth-child(even) .dj-slide-desc-text,
.desc-blue3-ms .dj-galleryGrid .dj-slide:nth-child(3n+3) .dj-slide-desc-text,
.desc-blue4-ms .dj-galleryGrid .dj-slide:nth-child(4n+4) .dj-slide-desc-text {
  color: #004a6c !important;
}
.desc-blue1-ms .dj-galleryGrid .dj-slide .dj-slide-desc-text a,
.desc-blue2-ms .dj-galleryGrid .dj-slide:nth-child(even) .dj-slide-desc-text a,
.desc-blue3-ms .dj-galleryGrid .dj-slide:nth-child(3n+3) .dj-slide-desc-text a,
.desc-blue4-ms .dj-galleryGrid .dj-slide:nth-child(4n+4) .dj-slide-desc-text a {
  color: #004a6c !important;
}
.desc-blue1-ms .dj-galleryGrid .dj-slide .dj-slide-title,
.desc-blue2-ms .dj-galleryGrid .dj-slide:nth-child(even) .dj-slide-title,
.desc-blue3-ms .dj-galleryGrid .dj-slide:nth-child(3n+3) .dj-slide-title,
.desc-blue4-ms .dj-galleryGrid .dj-slide:nth-child(4n+4) .dj-slide-title {
  color: #ffffff !important;
}
.desc-blue1-ms .dj-galleryGrid .dj-slide .dj-slide-title a,
.desc-blue2-ms .dj-galleryGrid .dj-slide:nth-child(even) .dj-slide-title a,
.desc-blue3-ms .dj-galleryGrid .dj-slide:nth-child(3n+3) .dj-slide-title a,
.desc-blue4-ms .dj-galleryGrid .dj-slide:nth-child(4n+4) .dj-slide-title a {
  color: #ffffff !important;
}
#jm-allpage .desc-blue1-ms .dj-galleryGrid .dj-slide .dj-readmore-wrapper a,
#jm-allpage .desc-blue2-ms .dj-galleryGrid .dj-slide:nth-child(even) .dj-readmore-wrapper a,
#jm-allpage .desc-blue3-ms .dj-galleryGrid .dj-slide:nth-child(3n+3) .dj-readmore-wrapper a,
#jm-allpage .desc-blue4-ms .dj-galleryGrid .dj-slide:nth-child(4n+4) .dj-readmore-wrapper a {
  color: #ffffff !important;
}
#jm-allpage .desc-blue1-ms .dj-galleryGrid .dj-slide .dj-extra .price,
#jm-allpage .desc-blue2-ms .dj-galleryGrid .dj-slide:nth-child(even) .dj-extra .price,
#jm-allpage .desc-blue3-ms .dj-galleryGrid .dj-slide:nth-child(3n+3) .dj-extra .price,
#jm-allpage .desc-blue4-ms .dj-galleryGrid .dj-slide:nth-child(4n+4) .dj-extra .price {
  color: #ffffff !important;
}
.dj-readmore-wrapper {
  text-align: right !important;
  padding: 0 !important;
  margin: 10px 0 0 !important;
  text-transform: uppercase;
}
.dj-readmore-wrapper a {
  font-size: 13px !important;
}
.slider1-ms .dj-slide-desc-bg {
  background: transparent !important;
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}
.slider1-ms .dj-slide-desc-text {
  padding: 30px 120px 30px 30px !important;
  margin-right: 10px !important;
  background: #ffffff !important;
  background: rgba(255,255,255,0.7) !important;
}
.slider1-ms .dj-readmore-wrapper {
  position: absolute;
  display: inline-block;
  margin: auto 0 !important;
  padding: 0 !important;
  top: 0;
  bottom: 0;
  left: auto;
  right: -10px;
  width: 90px;
  height: 69px;
}
.slider1-ms .dj-readmore-wrapper a {
  font-size: 13px !important;
  line-height: 1.5em !important;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px 20px;
  text-align: center !important;
  word-wrap: break-word;
}
.slider1-ms .dj-readmore-wrapper a:after {
  position: absolute;
  content: '';
  right: 0;
  bottom: -10px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 10px 10px 0 0;
}
#jm-allpage .slider1-ms .dj-readmore-wrapper a {
  color: #ffffff !important;
}
.dj-slideshow,
.djslider-loader,
.dj-slideshowThumbs {
  margin: 0 auto !important;
}
.djslider-loader .load-button,
.dj-slideshow .dj-load-button,
.dj-mslider .dj-load-button {
  border: none !important;
  background: none !important;
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-transition: background 0.2s ease-in;
  -moz-transition: background 0.2s ease-in;
  -o-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in;
}
.dj-load-button .dj-key {
  font-weight: normal !important;
  line-height: 27px !important;
}
#jm-allpage .dj-mslider .dj-mslider-in {
  background: #ffffff !important;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
  -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
  border: 10px solid #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dj-mslider {
  margin: 0 !important;
}
.dj-mslider .dj-indicators-in {
  padding: 0 !important;
  height: 10px;
  line-height: 10px;
}
.dj-mslider .dj-load-button {
  height: 8px !important;
  width: 8px !important;
  margin: 2px !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important;
}
.dj-mslider .dj-load-button.dj-load-button-active {
  background: transparent !important;
  margin: 0 !important;
}
.dj-mslider .dj-slide-title,
.dj-mslider .dj-slide-title a {
  font-size: 20px !important;
}
.dj-mslider .dj-slide-desc-text {
  font-size: 14px !important;
  padding: 5px 12px !important;
  line-height: 1.5em !important;
}
.slider1-ms .dj-mslider .dj-slide-desc-text {
  margin-right: 5px !important;
  padding: 5px 60px 5px 12px !important;
}
.slider1-ms .dj-mslider .dj-readmore-wrapper {
  right: -5px;
  width: 50px;
  height: 47px;
}
.slider1-ms .dj-mslider .dj-readmore-wrapper a {
  padding: 10px;
  font-size: 9px !important;
  line-height: 1.5em !important;
}
.slider1-ms .dj-mslider .dj-readmore-wrapper a:after {
  bottom: -5px;
  border-width: 5px 5px 0 0;
}
#jm-allpage .dj-mslider .dj-extra .price {
  font-size: 47px;
  line-height: 1.1em;
}
#jm-allpage .dj-mslider .dj-extra .date {
  font-size: 12px;
}
.djslider-loader .load-button {
  height: 8px !important;
  width: 8px !important;
  margin: 2px 4px !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important;
}
.djslider-loader .load-button.load-button-active {
  background: transparent !important;
  margin: 0 2px !important;
}
.djslider-loader .navigation-container-custom {
  margin-top: 20px !important;
}
.djslider-loader .dj-slide-title,
.djslider-loader .dj-slide-title a {
  font-size: 20px !important;
}
.djslider-loader .dj-slide-desc-text {
  font-size: 14px !important;
  padding: 5px 12px !important;
  line-height: 1.5em !important;
}
.slider1-ms .djslider-loader .dj-slide-desc-text {
  margin-right: 5px !important;
  padding: 5px 60px 5px 12px !important;
}
.slider1-ms .djslider-loader .dj-readmore-wrapper {
  right: -5px;
  width: 50px;
  height: 47px;
}
.slider1-ms .djslider-loader .dj-readmore-wrapper a {
  padding: 10px;
  font-size: 9px !important;
  line-height: 1.5em !important;
}
.slider1-ms .djslider-loader .dj-readmore-wrapper a:after {
  bottom: -5px;
  border-width: 5px 5px 0 0;
}
#jm-allpage .djslider-loader .dj-extra .price {
  font-size: 47px;
  line-height: 1.1em;
}
#jm-allpage .djslider-loader .dj-extra .date {
  font-size: 12px;
}
#jm-allpage .dj-slideshow .dj-slideshow-in {
  background: #ffffff !important;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
  -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
  border: 10px solid #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dj-slideshow .dj-indicators {
  margin-top: 18px !important;
}
.dj-slideshow .dj-load-button {
  display: inline-block;
  background: transparent !important;
  height: 27px !important;
  width: 27px !important;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.dj-slideshow .dj-load-button .dj-key {
  font-size: 12px !important;
}
.dj-slideshow .dj-load-button:hover .dj-key,
.dj-slideshow .dj-load-button.dj-load-button-active .dj-key {
  color: #ffffff !important;
}
#jm-allpage .dj-slideshowThumbs {
  display: table;
  background: #ffffff !important;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
  -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dj-slideshowThumbs .dj-indicators {
  padding: 10px 0 !important;
  background: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.dj-slideshowThumbs .dj-indicators-in {
  padding: 0 !important;
}
.dj-slideshowThumbs .dj-load-button {
  border: none !important;
  opacity: 0.6 !important;
  filter: alpha(opacity=60) !important;
  margin: 0 !important;
  padding-left: 10px;
}
.dj-slideshowThumbs .dj-load-button:first-child {
  padding: 0;
}
.dj-slideshowThumbs .dj-load-button:hover,
.dj-slideshowThumbs .dj-load-button-active {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}
.dj-slideshowThumbs .dj-indicators img {
  max-width: none !important;
}
#jm-allpage .dj-tabber {
  padding: 0 !important;
  margin: 0 auto !important;
  background: #ffffff !important;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
  -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
  border: 10px solid #ffffff;
}
.dj-tabber .dj-tab-active img,
.dj-tabber .dj-tab img {
  border: none !important;
  margin-right: 25px !important;
}
.dj-tabber .dj-tab {
  background: #ffffff !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  margin: 0 !important;
  padding: 0 20px !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.dj-tabber .dj-tab:after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 5%;
  width: 90%;
  height: 1px;
  background: #ebebeb;
}
.dj-tabber span.dj-tab-in {
  text-transform: uppercase;
  color: #313740 !important;
  font-size: 20px !important;
  font-weight: 700 !important;
  line-height: 1.3em !important;
  text-shadow: none !important;
}
.dj-tabber .dj-tab-active {
  margin: 0 !important;
  padding: 0 20px !important;
  background: #f1f1f1 !important;
}
.dj-tabber .dj-tab-active span {
  color: #313740 !important;
}
.dj-tabber .dj-tab-indicator {
  width: 16px !important;
}
.dj-tabber .dj-tab-indicator-right {
  background: url("../images/dj-tab-indicator-left.png") no-repeat left center !important;
}
.dj-tabber .dj-tab-indicator-left {
  background: url("../images/dj-tab-indicator-right.png") no-repeat left center !important;
}
#jm-allpage .box_skitter {
  margin: 0 auto;
  background: #ffffff !important;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
  -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
  border: 10px solid #ffffff;
}
.box_skitter .label_skitter {
  background: none !important;
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}
.box_skitter .label_skitter p {
  font-size: 14px !important;
  letter-spacing: none !important;
  font-family: inherit !important;
  letter-spacing: normal !important;
}
.box_skitter .info_slide {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}
.box_skitter .image_number {
  font-size: 12px !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
  padding: 0 !important;
  width: 27px !important;
  height: 27px !important;
  border: none !important;
  background: transparent !important;
  margin-left: 5px !important;
  line-height: 28px;
  text-align: center;
}
.box_skitter .image_number.image_number_select,
.box_skitter .image_number:hover {
  color: #ffffff !important;
}
.box_skitter .info_slide {
  padding: 10px !important;
}
.box_skitter.skitter-square .next_button,
.box_skitter.skitter-square .prev_button {
  top: 45px !important;
  bottom: auto !important;
  opacity: 0.7 !important;
  filter: alpha(opacity=70) !important;
}
.box_skitter.skitter-square .next_button:hover,
.box_skitter.skitter-square .prev_button:hover {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}
.nivoSlider {
  margin: 0 !important;
}
#jm-allpage .slider-wrapper {
  margin: 0 auto !important;
}
#jm-allpage .slider-wrapper .nivo-controlNav {
  padding: 18px 0 10px !important;
}
#jm-allpage .slider-wrapper .nivo-controlNav a {
  margin: 0 4px !important;
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
  text-indent: 0 !important;
  width: 27px !important;
  height: 27px !important;
  font-size: 12px !important;
  font-weight: normal !important;
  line-height: 27px !important;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  text-decoration: none !important;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
  background-image: none !important;
  background: transparent !important;
  border: 2px solid transparent !important;
}
#jm-allpage .slider-wrapper .nivo-controlNav a.active,
#jm-allpage .slider-wrapper .nivo-controlNav a:hover {
  color: #ffffff !important;
}
#jm-allpage .white-ms .dj-mslider .dj-mslider-in,
#jm-allpage .white-ms .dj-slideshow .dj-slideshow-in,
#jm-allpage .white-ms .dj-slideshowThumbs,
#jm-allpage .white-ms .dj-tabber,
#jm-allpage .white-ms .box_skitter {
  background: transparent !important;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  padding: 0;
}
.dj-navigation {
  left: 0;
}
.dj-navigation .dj-play,
.dj-navigation .dj-pause {
  margin-left: -32px !important;
}
.slider2-ms .dj-slide-desc-bg {
  background: transparent !important;
}
.slider2-ms .dj-slide-desc-text {
  color: #808080 !important;
  padding: 15px 20px !important;
  background: #ffffff !important;
  border-left: 1px solid #e3e3df;
  border-right: 1px solid #e3e3df;
  -webkit-box-shadow: 0 -2px 0 0 #e3e3df inset;
  -moz-box-shadow: 0 -2px 0 0 #e3e3df inset;
  box-shadow: 0 -2px 0 0 #e3e3df inset;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.slider2-ms .dj-slide-title,
.slider2-ms .dj-slide-title a {
  font-size: 24px !important;
  font-weight: 400 !important;
}
#jm-allpage .slider2-ms .dj-readmore-wrapper {
  margin-bottom: 5px !important;
}
#jm-allpage .slider2-ms .dj-readmore-wrapper a {
  font-size: 13px !important;
  text-align: center !important;
  text-transform: uppercase;
  font-weight: 400;
  display: block;
  padding: 9px 40px;
  line-height: 1.5em !important;
  text-decoration: none !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  max-width: 100%;
}
#jm-allpage .slider2-ms .dj-readmore-wrapper a:after {
  content: '';
  position: absolute;
  width: 13px;
  height: 10px;
  top: 50%;
  margin-top: -5px;
  right: -20px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
#jm-allpage .slider2-ms .dj-readmore-wrapper a:hover:after {
  right: 15px;
}
#jm-allpage .slider2-ms .djslider-loader .navigation-container .prev-button,
#jm-allpage .slider2-ms .dj-mslider .dj-navigation .dj-prev {
  width: 28px;
  height: 176px;
  background: url('../images/prev.png');
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
#jm-allpage .slider2-ms .djslider-loader .navigation-container .next-button,
#jm-allpage .slider2-ms .dj-mslider .dj-navigation .dj-next {
  width: 28px;
  height: 176px;
  background: url('../images/next.png');
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
#jm-allpage .slider2-ms .dj-mslider .dj-mslider-in,
#jm-allpage .slider2-ms .dj-slideshow .dj-slideshow-in,
#jm-allpage .slider2-ms .dj-slideshowThumbs,
#jm-allpage .slider2-ms .dj-tabber,
#jm-allpage .slider2-ms .box_skitter {
  background: transparent !important;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  padding: 0;
}
body.contentpane #djmediatools {
  color: #444;
}
body.contentpane #djmediatools a {
  text-decoration: none;
}
body.contentpane #djmediatools a:hover {
  text-decoration: underline;
}
body.contentpane #djmediatools .dj-album-title {
  font-weight: normal;
  height: auto !important;
  font-size: 30px;
  line-height: 1.2em !important;
  margin-bottom: 15px !important;
  padding-bottom: 10px !important;
  border-bottom: 1px dotted #989898;
}
body.contentpane #djmediatools .dj-album-title:after {
  content: '';
  display: block;
  border-bottom: 1px dotted #989898;
  position: relative;
  bottom: -9px;
}
body.contentpane #djmediatools .dj-album-item {
  padding: 75px 0 40px;
}
body.contentpane #djmediatools .dj-album-item-desc {
  color: #444;
}
body.contentpane #djmediatools .dj-readmore-wrapper {
  padding: 0 !important;
  margin: 10px 0 0 !important;
  border: none !important;
  height: auto;
  width: auto;
  position: static;
  opacity: 1;
  filter: alpha(opacity=100);
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
}
body.contentpane #djmediatools .dj-readmore-wrapper a.dj-readmore {
  display: inline-block;
  position: static;
  padding: 4px 14px !important;
  font-weight: 400 !important;
  margin-bottom: 0;
  font-size: 14px !important;
  line-height: 20px;
  *line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #333333;
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top,#ffffff,#e6e6e6);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#ffffff),to(#e6e6e6));
  background-image: -webkit-linear-gradient(top,#ffffff,#e6e6e6);
  background-image: -o-linear-gradient(top,#ffffff,#e6e6e6);
  background-image: linear-gradient(to bottom,#ffffff,#e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  *background-color: #e6e6e6;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  border: 1px solid #bbbbbb;
  *border: 0;
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *margin-left: .3em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
  text-transform: none;
  text-indent: 0;
}
body.contentpane #djmediatools .dj-readmore-wrapper a:first-child {
  *margin-left: 0;
}
body.contentpane #djmediatools .dj-readmore-wrapper a:hover {
  color: #333333;
  text-decoration: none !important;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  background-position: 0 -15px;
  -webkit-transition: background-position .1s linear;
  -moz-transition: background-position .1s linear;
  -o-transition: background-position .1s linear;
  transition: background-position .1s linear;
}
body.contentpane #djmediatools .dj-readmore-wrapper a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
body.contentpane #djmediatools .dj-readmore-wrapper a.active,
body.contentpane #djmediatools .dj-readmore-wrapper a:active {
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15), 0 1px 2px rgba(0,0,0,0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15), 0 1px 2px rgba(0,0,0,0.05);
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.15), 0 1px 2px rgba(0,0,0,0.05);
}
body.contentpane #djmediatools .dj-readmore-wrapper a:after,
body.contentpane #djmediatools .dj-readmore-wrapper a:before {
  display: none !important;
}
