html {
    -webkit-text-size-adjust: none;
}

/*****************************************/

@media screen and (max-width: 1269px) {
    #dj-classifieds .dj-item .general_det {
        clear: both;
        float: none;
        width: 100% !important;
        padding-left: 20px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    html[dir=rtl] #dj-classifieds .dj-item .general_det {
        padding-left: 0;
        padding-right: 20px;
    }
    #dj-classifieds .dj-item .images .djc_images {
        padding-left: 0;
        padding-right: 0;
    }
    #dj-classifieds .dj-item .images_wrap {
        width: 100%!important;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    #dj-classifieds .dj-category .title > a,
    #dj-classifieds .dj-category .title .cat_title_desc {
        display: block;
        text-align: center;
        padding: 0;
    }
    #dj-classifieds .dj-category .title > a img {
        margin: 0 auto 10px;
    }  
}

@media screen and (min-width: 768px) and (max-width: 1041px) {
    .mod_djclassifieds_items .item {
        padding: 10px 0;
    } 
    .mod_djclassifieds_items .title img {
        float: none;
        margin: 10px 0!important;
    }
}

@media screen and (max-width: 979px) {
    .djmod_map { 
        max-width: 100%;
    }
    .video_box iframe{
        max-width:100%;
    }
    .video_box .row_value{
        display:inline !important;
    }
    .geo_coordinates{
        word-break: break-all;
    }
    #dj-classifieds .dj-additem .djform_row .djform_field{
        clear: both;
        float: none;
        width: 100%;
    }
    #dj-classifieds .dj-additem .prom_rows .djform_row .djform_field{
        clear: none;
        float: left;        
    }
    .toggle-editor.btn-toolbar{
        float:none;
    }
    /* added */
    #dj-classifieds table.dj-items {
        overflow-x:auto;
        display: block;
    }
    #dj-classifieds table.dj-items::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 14px;
      height: 14px;
      }
      #dj-classifieds table.dj-items::-webkit-scrollbar-thumb {
      border-radius: 8px;
      border: 3px solid #fff;
      background-color: rgba(0, 0, 0, .3);
      } 
    #dj-classifieds .userpoints table.dj-items {
        display: table!important;
        overflow: visible;
    }
    #dj-classifieds table.dj-items tbody td.icon,
    #dj-classifieds table.dj-items tbody td.name {
        white-space: nowrap;
    }
    #dj-classifieds .djcf_items_blog .item_box_right .item_img {
        width: 100%;
        text-align: center;
    }
    #dj-classifieds .djcf_items_blog .item_img img {
        margin: 0 0 15px;
    }
    #dj-classifieds .djcf_items_blog .item_desc {
        display: inline-block!important;
        width: 100%;
    }
    .dj_cf_search .search_price span.label2, .dj_cf_search span.to_class,
    .dj_cf_search .search_price span.label1, .dj_cf_search span.from_class {
        display: block;
        margin: 0 0 5px;
    }
    #dj-classifieds .dj-additem .djform_row {
        text-align: center;
    }
    #dj-classifieds .dj-additem .djform_row .label {
        float: none;
        display: block;
        width: auto;
        text-align: center;
    }
    #dj-classifieds .dj-additem .djform_row .djform_field {
        float: none;
    }
    #dj-classifieds .profile_outer .profile_row_label {
        float: none;
        display: block;
        width: auto;
        text-align: center;
    }
    #dj-classifieds .profile_outer .profile_row_value {
        float: none;
    }
    #dj-classifieds .defaultSimpleSkin table.mceLayout,
    #dj-classifieds .mce-container {
        margin: 0 auto;
    }
    #dj-classifieds .dj-additem .djform_row .radiofield_box,
    #dj-classifieds .dj-additem .djform_row .radiofield_box div {
        float: none !important;
    } 
    #dj-classifieds .dj-additem .djform_row .label {
        margin: 8px 0;
    }
    #dj-classifieds .dj-item button#submit_b {
        display: block;
    }
    .djform_field #uploader input{
        padding: 0;
    }
    #dj-classifieds .djform_field a.add_another_image {
        margin: 0 auto;
    }
    #dj-classifieds .dj-additem .prom_rows .djform_row .label,
    #dj-classifieds .dj-additem .prom_rows .djform_row .djform_field{
        width: 100%;
        margin:0 0 5px;
    }
    #dj-classifieds .pointspackages table {
        display: table;
        width: 100%;
    }
    #dj-classifieds #fbcomments,
    #dj-classifieds .fb-comments,
    #dj-classifieds .fb-comments iframe,
    #dj-classifieds .fb-comments span {
        width: 100% !important;
    } 
    #dj-classifieds .dj-item .title_top .sb_top {
        float: none;
        display: table;
    } 
    .djcf .tip{
        max-width: 598px;
        min-width: 300px;
    }
}

@media screen and (max-width:767px) {
    #dj-classifieds .dj-item .custom_det,
    #dj-classifieds .dj-item .localization_det,
    #dj-classifieds .dj-item .additional,
    #dj-classifieds .dj-item .djcf_comments {
        display: block;
        width: 100%!important;
    }
    #dj-classifieds .dj-item .jm-box-margin {
        display: none!important;
    }
    #dj-classifieds .dj-item .custom_det,
    #dj-classifieds .dj-item .additional {
        margin: 0 0 30px;
    }
    .recaptchatable .recaptcha_image_cell,
    .recaptchatable, #recaptcha_area tr, #recaptcha_area td, #recaptcha_area th{
        padding:2px !important;
    }
    table#recaptcha_table{
        display:block;
        overflow-x:auto;
    }
    table#recaptcha_table::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 14px;
      height: 14px;
      }
      table#recaptcha_table::-webkit-scrollbar-thumb {
      border-radius: 8px;
      border: 3px solid #fff;
      background-color: rgba(0, 0, 0, .3);
      }  
    #dj-classifieds .dj-category .cat_col {
        width: 100%!important;
    }
    #dj-classifieds .dj-category .title,
    #dj-classifieds .dj-category .cat_col .cat_col_in {
        display: block;
    }
    #dj-classifieds .djcf_items_blog .item_box {
        width: 100% !important;
    }
    #dj-classifieds .djcf_items_blog .item_box_in2 {
        height: auto!important;
    }
    #dj-classifieds .dj-cattree-box .dj-cattree {
        width: 100% !important;
    }
    .dj-cattree-wrap div{
        clear:none !important;
    }
    #dj-classifieds .dj-cattree-box{
        display:table;
        width: 100%;
    }
    #dj-classifieds table.paymentdetails,
    #dj-classifieds table.paymentdetails table,
    #dj-classifieds table.paymentdetails tbody,
    #dj-classifieds table.paymentdetails tr, 
    #dj-classifieds table.paymentdetails td,
    #dj-classifieds table.paymentdetails th {
        display: block !important;
        width: 100% !important;
        text-align: center;
        clear: both;
    }
    #dj-classifieds table.paymentdetails .table_payment tr .payment_td {
        border-top: none!important;
    }
     #dj-classifieds table.paymentdetails .table_payment tr:first-child .payment_td {
        border-top: 1px solid #E3E3DF!important;
     }
    #dj-classifieds table.paymentdetails .payment_td .td1,
    #dj-classifieds table.paymentdetails .payment_td .td2,
    #dj-classifieds table.paymentdetails .payment_td .td3 {
        border: none!important;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        clear: both;
        padding: 20px;
    }
    .mod_djclassifieds_items .items-cols2 .items-col,
    .mod_djclassifieds_items .items-cols3 .items-col,
    .mod_djclassifieds_items .items-cols4 .items-col,
    .mod_djclassifieds_items .items-cols5 .items-col,
    .mod_djclassifieds_items .items-cols6 .items-col,
    .mod_djclassifieds_items .items-cols7 .items-col,
    .mod_djclassifieds_items .items-cols8 .items-col,
    .mod_djclassifieds_items .items-cols9 .items-col,
    .mod_djclassifieds_items .items-cols10 .items-col {
        width: 100%;
    }
    .mod_djclassifieds_items .items-col .icol-in .item:first-child {
        margin: 30px 0 0;
    } 
    .mod_djclassifieds_items .items-col .icol1 .icol-in .item:first-child {
        margin: 0;
    }   
}

@media screen and (max-width: 480px) {
    .djcf .tip,
    .djcf .tip-top {
        display: none!important;
    }
    #dj-classifieds table.mceLayout {
        overflow-x:auto;
        display: block;
    }
    #dj-classifieds .dj-cattree-box.cols5 .dj-cattree,
    #dj-classifieds .dj-cattree-box.cols4 .dj-cattree,
    #dj-classifieds .dj-cattree-box.cols3 .dj-cattree{
        width:100%;
    }
    #dj-classifieds .defaultSimpleSkin table.mceLayout{
        width:auto !important;
        max-width:100%;
    }
    /* added */    
    #dj-classifieds .dj-item .general_det .added,
    #dj-classifieds .dj-item .general_det .user_name,
    #dj-classifieds .dj-item .custom_det,
    #dj-classifieds .dj-item .localization_det {
        width: 100%!important;
        margin-right: 0;
        margin-left: 0;
    }
    #dj-classifieds .dj-additem .prom_rows .djform_row .djform_prom_v,
    #dj-classifieds .dj-additem .prom_rows .djform_row .djform_prom_img,
    #dj-classifieds .dj-additem .prom_rows .djform_row .djform_prom_desc {
        width: 100%;
        margin:0 0 5px;
    }
    #dj-classifieds .dj-useradverts .row_ua .col_ua {
        min-width: 20px!important;
    }
    #dj-classifieds .dj-useradverts .row_ua .col_ua.public_status {
        border: none!important;
    }
    #dj-classifieds .dj-useradverts .row_ua .row_ua2_in .button {
        margin: 5px;
    }
    #dj-classifieds .dj-useradverts .row_ua .row_ua1 .col_ua.icon_name,
    #dj-classifieds .dj-useradverts .row_ua .row_ua1 .col_ua.public_status,
    #dj-classifieds .dj-useradverts .row_ua .row_ua1 .col_ua.advert_active {
        clear: both;
        display: block;
        width: 100%;
    }
    #dj-classifieds .dj-useradverts .row_ua .row_ua1 .col_ua.advert_active {
        border-top: 1px solid #E3E3DF;
    }
    
    #dj-classifieds button#ask_form_button,
    #dj-classifieds button#abuse_form_button {
        margin: 0 0 5px!important;
    }
    #dj-classifieds .dj-item .title_top h2 {
        display: block;
        text-align: center;
        margin: 0 0 5px;
    }   
    #dj-classifieds .dj-item .title_top .title_edit {
        display: table;
        margin: 0 auto 5px;
        float: none;
    }   
    #dj-classifieds .dj-item .title_top span.type_button {
        display: table!important;
        margin: 0 auto 5px!important;
    }    
    #dj-classifieds .dj-item .title_top a {
        display: block;
        text-align: center;
        margin: 0 0 5px;
    }
    #dj-classifieds .dj-item .title_top span.new_icon {
        display: table;
        margin: 0 auto 5px;
    }
    #dj-classifieds .dj-item .title_top .sb_top {
        margin: 5px auto 0;
    }
    #dj-classifieds .dj-useradverts .main_title .main_title_box {
        display: block;
        float: none;
        width: 100% !important;
    }
    #dj-classifieds .dj-useradverts .main_title .main_title_box .main_title_box_in { 
        border-bottom: 1px solid #4c4c4c;
        border-left: none;
        border-right: none;
    }
    .mod_djclassifieds_items .items-cols1 .items-col,
    .mod_djclassifieds_items .items-cols2 .items-col,
    .mod_djclassifieds_items .items-cols3 .items-col,
    .mod_djclassifieds_items .items-cols4 .items-col,
    .mod_djclassifieds_items .items-cols5 .items-col,
    .mod_djclassifieds_items .items-cols6 .items-col,
    .mod_djclassifieds_items .items-cols7 .items-col,
    .mod_djclassifieds_items .items-cols8 .items-col,
    .mod_djclassifieds_items .items-cols9 .items-col,
    .mod_djclassifieds_items .items-cols10 .items-col {
        width: 100%;
    }
    .mod_djclassifieds_items .item:first-child,
    .mod_djclassifieds_items .items-col:nth-child(2) .item:first-child {
        margin: 30px 0 0;
    }
    
    /* horizontal search module */
    .dj_cf_search.dj_cf_search_horizontal input.inputbox.first_input {
        float: none;
        width: 100%!important;
    }
    .dj_cf_search.dj_cf_search_horizontal .search_radius {
        float: none;
        width: 100% !important;
    }
    .dj_cf_search.dj_cf_search_horizontal .search_radius input,
    .dj_cf_search.dj_cf_search_horizontal .search_radius select {
        float: none;
        width: 100%!important;
        margin: 0 0 20px; 
    } 
    .dj_cf_search.dj_cf_search_horizontal .search_regions select {
        float: none;
        width: 100%!important;
    }
    .dj_cf_search.dj_cf_search_horizontal .search_regions div select,
    .dj_cf_search.dj_cf_search_horizontal .search_radius select {
        margin: 0 0 20px;
    }
    .dj_cf_search.dj_cf_search_horizontal .search_cats select,
    .dj_cf_search.dj_cf_search_horizontal .search_type select,
    .dj_cf_search.dj_cf_search_horizontal .search_time select {
        float: none;
        width: 100%!important;
    }
    .dj_cf_search.dj_cf_search_horizontal .search_time select,
    .dj_cf_search.dj_cf_search_horizontal .search_cats div select {
        margin: 0 0 20px;
    }
    .dj_cf_search.dj_cf_search_horizontal .search_price {
        float: none;
        width: 100%!important;
    }
    .dj_cf_search.dj_cf_search_horizontal .djseform_field {
        float: none;
        margin: 0 0 20px!important;
        width: 100%!important;
    }
    .dj_cf_search.dj_cf_search_horizontal .radiofield_box div {
        float: none!important;
    }
}







