#dj-galleryGrid16m241 {
	margin: 10px 0;
}
#dj-galleryGrid16m241 .dj-galleryGrid-in {
	position: relative;
}
#dj-galleryGrid16m241 .dj-slides {
	position: relative;
	z-index: 5;
}
#dj-galleryGrid16m241 .dj-slide {
	position: relative;
	float: left;
	width: 408px;
	height: 204px;
	overflow: hidden;
	margin-bottom: 0px;
	margin-right: 0px;
	text-align: center;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: transparent url(/ekikapu/components/com_djmediatools/layouts/galleryGrid/images/loading.gif) center center no-repeat;
}
#dj-galleryGrid16m241 .dj-slide.active {
	z-index: 1;
}
#dj-galleryGrid16m241 .dj-slide-in {
	position: relative;
	height: 100%;
	overflow: hidden;
}
#dj-galleryGrid16m241 .dj-slide-in noscript {
	position: absolute;
	top:0;
	left:0;
}
#dj-galleryGrid16m241 .dj-slide-in > a {
	background: none;
}
#dj-galleryGrid16m241 .dj-slide img.dj-image, 
#dj-galleryGrid16m241 .dj-slide a:hover img.dj-image {
	border: 0 !important;
			margin: 0 50% 0 0;
		max-width: 50%;
	}
#dj-galleryGrid16m241 .dj-slide-in .video-icon {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 100px;
	height: 100px;
	margin: -50px 0 0 -50px;
	background: url(/ekikapu/components/com_djmediatools/layouts/galleryGrid/images/video.png) center center no-repeat;
}

#dj-galleryGrid16m241 .dj-slide-desc {
	position: absolute;
	width: 50%;
	max-height: 100%;
			right: 0;
		bottom: 0;
		height: 100%;
	}
#dj-galleryGrid16m241 .dj-slide-desc-in {
	position: relative;
			height: 100%;
	}
#dj-galleryGrid16m241 .dj-slide-desc-bg {
	position:absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
			opacity: 0.5;
		filter: alpha(opacity = 50);
	}
#dj-galleryGrid16m241 .dj-slide-desc-text {
	position: relative;
	font-size: 10px;
	color: #ccc;
	padding: 10px;
	text-align: left;
}
#dj-galleryGrid16m241 .dj-slide-desc-text p {
	display: block;
	padding: 0;
}
#dj-galleryGrid16m241 .dj-slide-desc-text a {
	color: #f5f5f5;
}
#dj-galleryGrid16m241 .dj-slide-title {
	font-size: 1.3em;
	font-weight: bold;
	line-height: 1.1;
	color: #f5f5f5;
}
#dj-galleryGrid16m241 .dj-slide-title a {
	background: none;
}
#dj-galleryGrid16m241 .dj-readmore-wrapper {
	padding: 5px 0 0;
	text-align: right;
}
#dj-galleryGrid16m241 a.dj-readmore {
	font-size: 1.1em;
}
#dj-galleryGrid16m241 .dj-extra {
	float: right;
	margin: 0 0 5px 20px;
}

.tip-wrap { 
	z-index: 50;
}
.tip-wrap .tip {
	font-size:10px;
	text-align:left;
	padding:10px;
	max-width:400px;
	color: #ccc;
	background: #222;
	border: 3px solid #eee;
	border-radius: 5px;
	box-shadow: 0 0 10px #000;
	opacity: 0.8;
}
.tip-wrap .tip-title {
	font-size: 1.3em;
	font-weight: bold;
	line-height: 1.1;
	color: #f5f5f5;
	margin-bottom: 5px;
}
